body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    margin: 2rem;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
    margin-top: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #005bb5;
}

.social-icons {
    text-align: center;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0073e6;
}

#experience {
    padding: 3rem;
    margin: 2rem auto;
    max-width: 900px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

#experience h2 {
    border-bottom: 2px solid #0073e6;
    padding-bottom: 0.5rem
}

.experience-entry {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: #242424;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.experience-entry h3 {
    color: white;
    margin-bottom: 0.5rem;
}

.experience-entry p {
    font-weight: bold;
    color: #bbb;
}

.experience-entry ul {
    padding-left: 20px;
    list-style-type: disc;
}

.experience-entry ul li {
    margin-bottom: 0.5rem;
}

.education-item {
    background: #242424;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3)
}

.education-item h3 {
    margin-bottom: 0.5rem;
    color: white;
}

.education-item p {
    font-weight: bold;
    color: #bbb;
}

.education-item ul {
    padding-left: 20px;
    list-style-type: disc;
}

.education-item ul li {
    margin-bottom: 0.5rem;
}
